#large-content {
  width: 100%;

  h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#212338+0,153144+72 */
background: #212338; /* Old browsers */
background: -moz-linear-gradient(left, #212338 0%, #153144 72%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #212338 0%,#153144 72%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #212338 0%,#153144 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212338', endColorstr='#153144',GradientType=1 ); /* IE6-9 */

      margin: 0px 0px 0px 0px;
      padding: 3px 10px 3px 10px;
      color: white;
      font-size: 1.5em;
      font-family: 'Permanent Marker', cursive;
  }
  p {
      background-color: white;
      margin: 5px 0px 0px 0px;
      padding: 3px 10px 3px 10px;
      color: #696969;
      font-size: .9em;
  }
  @media @mobile {
    display: none;
  }
}
