* {
    border: green solid 2px;
}

@mobile: ~"screen and (max-width: 599px)";
@standard: ~"screen and (min-width: 600px)";

body {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    @media @mobile {
      width: 100%;
      margin-top: 0;
    }
}
div {
    margin: 0;
    padding: 0;
    text-align: justify;
}
#wrapper {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;
  @media @mobile {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
