// * {
//     border: green solid 2px;
// }

@mobile: ~"screen and (max-width: 599px)";
@standard: ~"screen and (min-width: 600px)";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    background: #e7e7e7;
    @media @mobile {
      width: 100%;
    }
}
div {
    margin: 0;
    padding: 0;
    text-align: justify;
}

#wrapper {
  width: 80%;
  margin: 2em auto auto auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  @media @mobile {
    width: 100%;
    margin-top: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.hidden {
  display: none;
}
