
#resume {
  padding: 1em;
  background-color: white;

  h3 {
    margin: 0;
    padding: 0 .5em 0 .5em;
    font-size: 1em;
    color: #037A76;
    border-bottom: 1px solid #037A76;
  }
  p {
    padding: .5em;
    // font-size: .9em;
  }
}


#res-skills {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  .skill-logo {
    margin: .5em .5em 0 .5em;
    background-color: lightgoldenrodyellow;
    flex: 1;
    text-align: center;
    img {
      height: 2em;
    }
    p {
      padding: 0;
    }
  }
}

#res-experience, #res-projects, #res-education {
  div {
    margin-top: .5em;
    background-color: #818F87;

    p {
      color: white;
    }
    p:last-child {
      padding-right: .5em;
    }
    p:first-child, li:first-child {
      padding-top: 0;
    }
    p:last-child, li:last-child {
      padding-bottom: 0;
    }
  }
  p {
    padding: 0 0 0 .5em;
    display: inline-block;
    background-color: inherit;
  }
  .res-title {
    font-weight: bold;
  }
  .res-desc {
    font-style: italic;
  }
  .res-date {
    float: right;
  }
  ul {
    margin: 0 .5em 0 1.5em;
    padding: 0;
  }
  li {
    padding: 0;
    font-size: .9em;
  }
  li:first-child {
    padding-top: 1em;
  }
  li:last-child {
    padding-bottom: 1em;
  }
}
#res-education {
  padding: .5em 0 .5em 0;
  line-height: 2em;
  img {
    height: 2em;
    width: 2em;
    float: left;
  }
}
