
#nametitlebar {
    position: absolute;
    margin: 0px 0px 0px 0px;
    padding: 2px 10px 2px 10px;
		color: white;
}
#sidebar {
    display: inline-block;
    width: 250px;
    margin: 10px 10px auto auto;
    padding: 0 0 20px 0;
    color: #ecf0f1;
    background-color: #33373d;
    @media @mobile {
      width: 100%;
    }
}
#sidebar #profilepic {
    width: 100%;
    height: auto;
    font-size: 2em;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar li {
    margin: 0;
    padding: .5em 1em .5em 1em;
}
#sidebar i {
    font-size: 1.5em;
    margin: auto;
}
#sidebar span {
    float: right;
}
#socialMediaLinks {
    table-layout: fixed;
    width: 100%;
    padding: 0 1em 0 1em;
}
#socialMediaLinks td {
    width: .5em;
    height: 2.6em;
    text-align: center;
    color: #ecf0f1;
    border-radius: 50%;
    border: 2px solid #ecf0f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#socialMediaLinks td:hover {
    background-color: #2098d1;
}
#sectionTitle {
    color: white;
    background-color: #2098d1;
}
