@import '../../styles/styles.less';

.contact {
	text-align: center;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	min-height: 35em;
	table {
		text-align: left;
		margin-top: -7em;
	}
	tr {
		line-height: 1em;
	}
	td {
		padding-left: .5em;
	}
	td.value {
		font-weight: bold;
		text-align: left;
	}
}
